@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 120%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font);
}


a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
}

.container {
    max-width: 1256px;
    padding: 0 10px;
    margin: 0 auto;
}

.section {
    padding: 140px 0;
}

.section-title {
    font-size: 45px;
    margin-bottom: 33px;
}

.section-descr {
    margin-bottom: 31px;
}