:root {
    --main-color: #236245;
    --dark-main-color: #143226;
    --second-color: #fff;
    --accent-color: #FFD62F;
    --text-color: #fff;
    --second-text-color: #000;
    --main-font: "Quattrocento", serif;
    --second-font: "Quattrocento Sans", sans-serif;
}